@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
    background-color: rgb(0, 34, 50);
    color: aliceblue;
}



.table-container {
    overflow-x: auto;
  }
  
  .table-auto {
    min-width: 360px;
  }
  
  @media (max-width: 650px) {
    .table-auto {
      width: 100%;
    }
    
    .input-field {
      width: 100%;
      box-sizing: border-box;
    }
  }


  .list{
    width: 95%;
  }